<!DOCTYPE html>
<html>

<head>
    <meta name="TRIPMEONheader" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="TRIPMEONAdminLayout.css" rel="stylesheet" />

</head>

<body>
    <div id="main">
        <div id="menu">
            ADMIN HOMEPAGE<br />
            <hr size="1" width="50%" color="black">
            <div class="tabs">
                Partners<br />
                Clients<br />
                Packages<br />
                <div id="logout">LOG OUT</div>
            </div>
        </div>

        <div id="mainContent">

            <div id="mainContentTop">

                <div class=pageTitle>
                    WELCOME ADMIN
                    <div id="barre">
                    </div>
                </div>

                <div id="actionRequiredBlock">
                    Action required<br />
                    <div id="actionRequiredContainer">
                        <div id="actionRequiredContent">
                            Nothing to show here
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="footer">
            Footer Exemple -- contactez nous sur tripemeon.agency@gmail.com
        </div>
    </div>
</body>
</html>