@using TripMeOn.Models.Products;
@using TripMeOn.Helper;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#TripMeOn</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    @RenderSection("ExtraCss",required:false)
</head>
<body>
    <div id="logo"></div>
    <div id="logo-shadow"></div>

  
            <li class="right"">
                @if (!String.IsNullOrEmpty(Context.Request.Cookies["Nickname"])) // si la valeur du cookie Nickname n'est pas vide
                {
                    <span>Hello @Context.Request.Cookies["Nickname"]</span>
                    // on affiche le message Bonjour suivi de la valeur de Cookie nickname
                }
            </li>
   
    @RenderBody()

    </div>




    <footer>
        <div class="social-icons">
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i></a>
            <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>

    <script src="bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("ExtraScript",required:false)
</body>
</html>
