<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

</head>
<body>
    <h1>Sign Up Confirmation</h1>

    <p>Thank you for signing up! Your registration has been successful.</p>
    <p> An email will be sent to you with the confirmation link. </p>




    @Html.ActionLink("Home", "HomePage", "Home")
    <br />

</body>
</html>

