@model TripMeOn.ViewModels.EmployeeViewModel
@{
    ViewBag.title = "AddEmployeeForm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section ExtraCss{
    <link rel="stylesheet" href="/css/PartnerForm.css">
}


@using (Html.BeginForm("SubmitEmployeeForm", "Employee", FormMethod.Post))
{
    <div class="form-container">
        <fieldset>
            <legend>Sign Up Form</legend>
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" id="LastName" name="LastName" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" id="FirstName" name="FirstName" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="Nickname">Nickname</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" id="Nickname" name="Nickname" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="Email">Email</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" id="Email" name="Email" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="Password">Password</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="password" id="Password" name="Password" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="Address">Address</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" id="Address" name="Address" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="PhoneNumber">Phone Number</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="Role">Role</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" id="Role" name="Role" class="form-control" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

}
@section ExtraScript{
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}


