@{
    ViewBag.title = "IndexAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<nav>

    <br />
    @Html.ActionLink("Partner List", "ListePartner", "Employee")
    <br />
    @Html.ActionLink("Client List", "ListeClient", "Employee")
    <br />
    @Html.ActionLink("Employee List", "ListeEmployee", "Employee")


</nav>



