@{
    ViewBag.title = "IndexAdmin";
    Layout = null;
}
<nav>
    <img src="~/images/logo.png" alt="logo">
    <button type="button">@Html.ActionLink("Home", "IndexAdmin")</button>
    <br />
    @Html.ActionLink("Partner List", "ListePartner", "Employee")
    <br />
    @Html.ActionLink("Client List", "ListeClient", "Employee")


</nav>


<h3 class="titre">Coucou Flo ! voici la page à faire toute belle :)</h3>
