@{
    ViewBag.title = "IndexAdmin";
    Layout = null;
}
<nav>
    <img src="~/images/logo.png" alt="logo">
    <button type="button">@Html.ActionLink("Accueil", "IndexAdmin")</button>

</nav>


<h3 class="titre">Coucou Flo ! voici la page à faire toute belle :)</h3>
