<!DOCTYPE html>
<html>
​
<head>
    <meta name="TRIPMEONheader" content="width=device-width" />
    <title>@ViewBag.Title</title>
<link rel="stylesheet" href="/css/Catalog.css">
</head>
​
<body>
    <div id="header">
        <div id="header-pic1">image header gauche</div>
        <div id="header-title">nos themes</div>
        <div id="header-pic2">image header droite</div>
    </div>
    <div id="filter-bloc">
        <div id="filter-bloc-title">FILTERS</div>
        <div id="filter-bloc-section-bar"></div>
        <div class="filter-bloc-cat" id="country">country
            <li class="filter-bloc-cat-subcat-country">subcat1</li>
            <li class="filter-bloc-cat-subcat-country">subcat2</li>
            <li class="filter-bloc-cat-subcat-country">subcat3</li>
        </div>
        <div class="filter-bloc-cat" id="period">period
            <li class="filter-bloc-cat-subcat-period">subcat1</li>
            <li class="filter-bloc-cat-subcat-period">subcat2</li>
            <li class="filter-bloc-cat-subcat-period">subcat3</li>
        </div>
        <div class="filter-bloc-cat" id="theme">theme
            <li class="filter-bloc-cat-subcat-theme">subcat1</li>
            <li class="filter-bloc-cat-subcat-theme">subcat2</li>
            <li class="filter-bloc-cat-subcat-theme">subcat3</li>
        </div>
    </div>
    <div id="filter-icons">
        <div id="filter-icons-1">
            <span class="filter-icons-title">#theme1</span>
        </div>
        <div id="filter-icons-2">
            <span class="filter-icons-title">#theme2</span>
        </div>
        <div id="filter-icons-3">
            <span class="filter-icons-title">#theme3</span>
        </div>
        <div id="filter-icons-4">
            <span class="filter-icons-title">#theme4</span>
        </div>
        <div id="filter-icons-5">
            <span class="filter-icons-title">#theme5</span>
        </div>
        <div id="filter-icons-6">
            <span class="filter-icons-title">#theme6</span>
        </div>
​
    </div>
</body>
​
</html>