@using TripMeOn.ViewModels
@using TripMeOn.Models.Products;
@using TripMeOn.Helper;
@model NavigationViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ExtraCss{
    <link rel="stylesheet" href="/css/HomePage.css">
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="diapo">
        <div id="picLeft">
            <div class="boxPic">
                <div class="textBoxPic">
                    link theme 1
                </div>
            </div>
        </div>
        <div id="picRight">
            <div class="boxPic">
                <div class="textBoxPic">
                    link theme 2
                </div>
            </div>
        </div>
    </div>

    <div class="search">
        <div id="search-block">
            <div id="search-destination">
                Destination
            </div>
            <div id="search-duration">
                Duration
            </div>
            <div id="search-date">
                Date
            </div>
            <div id="search-searchbox">
                SearchBox
            </div>
        </div>
    </div>

    <div class="login">

        <div class="testimony">
            <h1>Ils parlent de nous</h1>
            <div id="testimony-block">
                <div class="testimony-block-arrows" id="testimony-block-left-arrow"></div>
                <div>
                    J'ai essayé TripMeOn suite au témoignage d'un influenceur que je follow.
                    Je dois dire que je ne suis pas décu !<br />
                    Les réservations étaient parfaitement comme décrites sur le site.
                    Et les panoramas... suberbes.<br />
                    Merci TripMeOn, je garde de beaux souvenirs.. et de belles photos !
                </div>
                <div id="testimony-block-customer-pic"></div>
                <div class="testimony-block-arrows" id="testimony-block-right-arrow"></div>
            </div>
        </div>
    </div>

    <h1>Partners</h1>
    Ils nous font confiance :
    <div class="partnerships">
        <div id="partnerships-pic1"></div>
        <div id="partnerships-pic2"></div>
        <div id="partnerships-pic3"></div>
        <div id="partnerships-pic4"></div>
        <div id="partnerships-pic5"></div>
        <div id="partnerships-pic6"></div>
        <div id="partnerships-pic7"></div>
    </div>
</body>
</html>