@model TripMeOn.Models.Order.Cart

@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<h2>Purchase Successful</h2>

<p>Your purchase was successful! An email will be sent to you with the details of your purchase.</p>

