@model List<TripMeOn.Models.Order.Cart>

@{
    ViewData["Title"] = "Your Refund Status";
}
@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    .refund-container {
        text-align: center;
        margin: 20px;
    }

    .refund-box {
        font-size: 34px;
        font-weight: bold;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f8f9fa;
        margin: 10px auto;
    }

    .refund-box-title {
        color: #333;
    }

    .refund-box-message {
        margin-top: 10px;
    }
</style>

<div class="refund-container">
    <div class="refund-box">
        <h3 class="refund-box-title">Refund</h3>
        <p class="refund-box-message">@ViewData["RefundMessage"]</p>
    </div>
</div>

<div class="text-center">
    <a href="@Url.Action("HomePage", "Home")" class="btn btn-primary">Home</a>
</div>

