#header, #menu, #mainContent, #footer {
    padding: 1px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu {
    float: left;
    width: 176px;
    height: 800px;
    background-color: gold;
    text-align: center;
}

#logout {
    display: flex;
    font-size: 14px;
    font-weight: bold;
}

#mainContentTop {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 500px;
}

#actionRequiredBlock {
    display: flex;
    width: 70%;
}

#actionRequiredContainer {
    position: absolute;
    width: inherit;
    height: 88px;
    top: 207px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.05625);
    display: flex;
    align-items: center;
    justify-content: left;
}

#actionRequiredContent {
    margin-left: 15px;
}

#footer {
    background-color: lightgreen;
    text-align: center;
    clear: both;
}

.pageTitle {
    font-weight: bold;
    text-align: center;
    text-decoration: solid;
    text-underline-offset: 10%;
    border-bottom-color: black;
}

.selectionne {
    color: red;
}

#entete, #menu, #contenu, #footer {
    padding: 1px 0;
    background-color: wheat;
}

#entete {
    background-color: ghostwhite;
}

#contenu {
    margin-left: 245px;
    background-color: wheat;
    padding: 30px;
}


.titre {
    text-align: center;
}

.selectionne {
    color: red;
}

a:link {
    color: aliceblue;
    text-emphasis-style: none;
}
/* visited link */
a:visited {
    color: darkslategrey;
}
/* mouse over link */
a:hover {
    color: rgb(88, 40, 107);
}
/* selected link */
a:active {
    color: blue;
}

a {
    text-decoration: none;
    color: black;
}

