body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    display: flex;
    padding: 30px;
    font-size: 35px;
    justify-content: center;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 8%;
    height: 405px;
    background: #9AD4D6;
    padding: 0;
}

    /* Style the list inside the menu */
    nav ul {
        list-style-type: none;
        padding: 0;
    }

article {
    float: left;
    padding: 20px;
    width: 85%;
    background-color: #F2FDFF;
    height: auto;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #DBCBD8;
    padding: 10px;
    text-align: center;
    color: rgb(18, 3, 46);
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 800px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.container {
    align-items: center;
    float: left;
}

.image {
    float: left;
    padding: 5px;
}


body {
    text-align: center;
}

h1,
h2 {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

p {
    text-align: left;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 20px;
}
/* CSS HEX */
/*--ultra-violet: #564787ff;
--thistle: #dbcbd8ff;
--azure-web: #f2fdffff;
--tiffany-blue: #9ad4d6ff;
--oxford-blue: #101935ff;*/
/* CSS HSL */
/*--ultra-violet: hsla(254, 31%, 40%, 1);
--thistle: hsla(311, 18%, 83%, 1);
--azure-web: hsla(189, 100%, 97%, 1);
--tiffany-blue: hsla(182, 42%, 72%, 1);
--oxford-blue: hsla(225, 54%, 14%, 1);*/
/* SCSS HEX */
/*$ultra-violet: #564787ff;
$thistle: #dbcbd8ff;
$azure-web: #f2fdffff;
$tiffany-blue: #9ad4d6ff;
$oxford-blue: #101935ff;*/
/* SCSS HSL */
/*$ultra-violet: hsla(254, 31%, 40%, 1);
$thistle: hsla(311, 18%, 83%, 1);
$azure-web: hsla(189, 100%, 97%, 1);
$tiffany-blue: hsla(182, 42%, 72%, 1);
$oxford-blue: hsla(225, 54%, 14%, 1);*/
/* SCSS RGB */
/*$ultra-violet: rgba(86, 71, 135, 1);
$thistle: rgba(219, 203, 216, 1);
$azure-web: rgba(242, 253, 255, 1);
$tiffany-blue: rgba(154, 212, 214, 1);
$oxford-blue: rgba(16, 25, 53, 1);*/
/* SCSS Gradient */
/*$gradient-top: linear-gradient(0deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
$gradient-right: linear-gradient(90deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
$gradient-bottom: linear-gradient(180deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
$gradient-left: linear-gradient(270deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
$gradient-top-right: linear-gradient(45deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
$gradient-bottom-right: linear-gradient(135deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
$gradient-top-left: linear-gradient(225deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
$gradient-bottom-left: linear-gradient(315deg, #564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);
$gradient-radial: radial-gradient(#564787ff, #dbcbd8ff, #f2fdffff, #9ad4d6ff, #101935ff);*/




body {
    font-family: 'Open Sans', sans-serif;
    background: #ecf0f1;
    height: 100vh;
    margin: 0;
    padding: 0;
}

footer {
}

.diapo {
    display: inline-block;
    width: 100%;
    height: 800px;
}
    .diapo div {
        display:flex;
        background-size: cover;
        background-position: center;
        justify-content: center;
    }

#picLeft {
    width: 50%;
    height: 800px;
    margin-left: 0;
    margin-right: auto;
    float: left;
    background-image: url(https://www.radiofrance.fr/s3/cruiser-production/2023/01/7fd8aaa3-8215-4749-8a14-67d024af6320/1200x680_chaton-getty-picture-alliance.jpg);
}

#picRight {
    width: 50%;
    height: 800px;
    margin-left: auto;
    margin-right: 0;
    float: right;
    background-image: url(https://www.gammvert.fr/conseils/sites/default/files/styles/large/public/2022-03/age_chat_AdobeStock_104400672.jpg?itok=03WZPO74);
}

.boxPic {
    display: flex;
    width:20%;
    height: 60px;
    margin-top:600px;
    margin-bottom: auto;
    background-color: red;
    justify-content: center;
    border-radius: 5px;
}

.textBoxPic {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    color: white;
}

.search {
    display: flex;
    width: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#search-block {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1px;
}

    #search-block div {
        height: 50px;
        border-style: solid;
        border-color: black;
        border-width: thin;
        align-content: center;
        justify-content: center;
        text-align: center;
        /*border-radius: 1px;*/
    }
    
    #search-searchbox{
    background-color:red;
    color : white;
    }


#testimony-block {
    display: grid;
    width: 100%;    
    height:500px;
    grid-template-columns: 150px 800px 300px 150px;
    align-items: center;
    border-block-color: black;
    justify-content: center;
    margin-bottom: 50px;
}

#testimony-block-customer-pic {
    background-image: url(https://projet-isika.com/wp-content/uploads/2018/02/patrick-250x300.jpg);
    height:300px;
    border-radius: 50%;
    background-size: cover;
    background-position:top;
    justify-content: center;
}

#testimony-block-left-arrow {
    background-image: url(https://media4.giphy.com/media/XYPXQnu0XFqG4/giphy.gif?cid=ecf05e47z86szj2qvvymhzcigjy4rkceifp7ixp2tb83omqc&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    justify-content: center;
}


.partnerships {
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom:50px;
}

.partnerships div {
    height:100px;
    border-block-color: black;
    border-style: solid;
    border-color: black;
    border-width: thin;

}
