html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 100px;
}

#logo {
    background-image: url(/images/logo.png);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    left: 60px;
    background-size: cover;
    background-position: center;
    /*  border : solid 1px white;*/
    border-radius: 25px;
    z-index: 102;
}

#logo-shadow {
    display: flex;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 23px;
    left: 63px;
    background-color: hotpink;
    border-radius: 25px;
    z-index: 101;
}
/* ----------------------------- NAVBAR -----------------------------*/
#navbar {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 100;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2em;
}

#menu {
    background: rgb(0, 0, 0, 0.15);
}

.parent {
    display: inline-block;
    vertical-align: middle;
    /*float: left;*/
    line-height: 60px;
    text-align: center;
    /*border: #CCC 1px solid;*/
    /*border-radius: 5px 5px 0px 0px;*/
}

    .parent a {
        margin: 35px;
        color: white;
        font-weight: bold;
        /*text-shadow: 0.5px 0.5px black;*/
        font-size: large;
        background-color: transparent;
        text-decoration: wavy;
    }

    .parent:hover > ul {
        display: block;
        position: absolute;
    }

.child {
    display: none;
    background: rgba(255, 255, 255, 0.5);
}

    .child li {
        background-color: #E4EFF7;
        line-height: 40px;
        border-bottom: #CCC 1px solid;
        border-right: #CCC 1px solid;
        width: 100%;
    }

        .child li a {
            color: #000000;
        }

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 8.65em;
}

    ul ul ul {
        left: 100%;
        top: 0;
        margin-left: 1px;
    }

li:hover {
    background-color: #95B4CA;
}

.parent li:hover {
    background-color: #F0F0F0;
}

.expand {
    font-size: 12px;
    float: right;
}
/* ----------------------------- CENTERED SEARCH BAR -----------------------------*/
.search-container {
    display: flex;
    height: 80px;
    width: 40%;
    position: absolute;
    top: 600px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.80);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
/*.search-container-shadow {
    display: flex;
    height: 80px;
    width: 40%;
    position: absolute;
    top: 601px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}*/
.search-box {
    font-weight: bold;
}

.form {
    width: 200px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

    .search-box label,
    .search-box input {
        margin: 0 5px;
    }

    .search-box label {
        flex: 0 0 100px; /* Adjust the width as needed */
    }
/* ----------------------------- DIAPO -----------------------------*/
.diapo {
    display: flex;
    width: 100%;
    height: 1000px;
    padding-top: -150px;
}

    .diapo div {
        display: flex;
        background-size: cover;
        background-position: center;
    }

#picLeft {
    width: 49.7%;
    height: 1000px;
    margin-left: 0;
    margin-right: auto;
    float: left;
    background-image: url(/images/homepage/AdobeStock_83902545.jpg);
}

#picRight {
    width: 49.7%;
    height: 1000px;
    margin-left: auto;
    margin-right: 0;
    float: right;
    background-image: url(/images/homepage/se-rapprocher-de-la-nature-article-960x636.jpg);
}

.boxPic {
    display: flex;
    width: 20%;
    height: 60px;
    margin-top: 600px;
    margin-bottom: auto;
    background-color: red;
    border-radius: 5px;
}

.textBoxPic {
    display: flex;
    width: auto;
    align-items: center;
    color: white;
}
/* ----------------------------- SEARCHBOX -----------------------------*/
.search {
    display: flex;
    width: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#search-block {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1px;
}

    #search-block div {
        height: 50px;
        border-style: solid;
        border-color: black;
        border-width: thin;
        align-content: center;
        justify-content: center;
        /*border-radius: 1px;*/
    }

#search-searchbox {
    background-color: red;
    color: white;
}
/* ----------------------------- INSTA FEED -----------------------------*/
.insta-feed {
    height: 500px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#insta-feed-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
}

.insta-feed-post {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.insta-feed span {
    display: block;
    color: white;
    font-style: italic;
    text-align: center;
    width: 100px;
    height: 100%;
    margin: 0 auto;
}

.insta-feed-post div {
    display: flex;
    position: absolute;
}

.likes-icon {
    padding-top: 300px;
}

.likes {
    background: url(/images/icons/coeur.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.comments-icons {
    background: url(/images/icons/discuter.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
}

.comments {
}

#insta-feed-post-pic1 {
    background: url(https://cdn.mos.cms.futurecdn.net/BX7vjSt8KMtcBHyisvcSPK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#insta-feed-post-pic2 {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Male_and_female_chicken_sitting_together.jpg/640px-Male_and_female_chicken_sitting_together.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#insta-feed-post-pic3 {
    background: url(https://upload.wikimedia.org/wikipedia/commons/d/d4/Chicken_portrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#insta-feed-post-pic4 {
    background: url(https://cdn.shopify.com/s/files/1/0601/9550/4282/files/my_pet_chicken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#insta-feed-post-pic5 {
    background: url(https://ux2cms.imgix.net/images/roast-chicken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* ----------------------------- TESTIMONY -----------------------------*/
#testimony-block {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: 150px 800px 300px 150px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#testimony-block-customer-pic {
    background-image: url(https://projet-isika.com/wp-content/uploads/2018/02/patrick-250x300.jpg);
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: top;
    justify-content: center;
}

.testimony-block-arrows {
    width: 150px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#testimony-block-left-arrow {
    width: 150px;
    background-image: url(/images/retour-rapide.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#testimony-block-right-arrow {
    width: 150px;
    background-image: url(/images/avance-rapide.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* ----------------------------- PARTNERSHIPS -----------------------------*/
.trait {
    border-top: 1px solid black;
    width: 50%;
    align-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.partnerships {
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
}

    .partnerships div {
        width: 150px;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        /*border-block-color: black;
        border-style: solid;
        border-color: black;
        border-width: thin;*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

#partnerships-pic1 {
    background-image: url(/images/logos-rs/Meta_Platforms_Inc._logo.svg.png);
}

#partnerships-pic2 {
    background-image: url(/images/logos-rs/TikTok-Logo.png);
}

#partnerships-pic3 {
    background-image: url(/images/logos-rs/twitch-app-logo-png-3.png);
}

#partnerships-pic4 {
    background-image: url(/images/logos-rs/youtube-logo-hd-8.png);
}

#partnerships-pic5 {
    background-image: url(/images/logos-rs/20190808214526!Logo-Snapchat.png);
}

#partnerships-pic6 {
    background-image: url(/images/logos-rs/Logo-BeReal.png);
}

#partnerships-pic7 {
    background-image: url(/images/logos-rs/Logo_of_Twitter.svg.png);
}

footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden
}

    footer a {
        text-decoration: none;
        color: black;
        text-align: center;
        width: 100%;
    }

.footer-buttons {
    display: inline-flex;
    width: 70%;
    height: 100%;
    align-items: center;
}

    .footer-buttons div {
        display: flex;
        width: 100%;
        height: 50px;
        /*background-color: black;*/
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
    }

.social-icons {
    display: inline-flex;
    width: 25%;
    height: 80px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

    .social-icons div {
        display: flex;
        width: 100%;
    }

    .social-icons a {
        color: #000000;
        font-size: 25px;
    }
