#logo {
    background-image: url(/images/logo.png);
    height: 80px;
    width: 80px;
    position: absolute;
    top:10px;
    left:50px;
    background-size: cover;
    background-position: center;
/*  border : solid 1px white;*/    
    border-radius:25px;
    z-index:102;
}
#logo-shadow {
    display:flex;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 12px;
    left: 52px;
    background-color: hotpink;
    border-radius: 25px;
    z-index: 101;
}

.navbar {
    width: 100%;
    height: 100px;
    font: bold;
    justify-content: center;
    z-index: 10;
    background-color: #3C6997 ;
}

.parent {
    display: inline-block;
    align-content:center;
    /*float: left;*/
    line-height: 60px;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*border-right: #CCC 1px solid;*/
    border-radius: 5px 5px 0px 0px;
}

    .parent a {
        margin: 10px;
        color: white;
        background-color: transparent;
        text-decoration: wavy;
    }

    .parent:hover > ul {
        display: block;
        position: absolute;
    }

.child {
    display: none;
    background: rgba(255, 255, 255, 0.5);
}

    .child li {
        background-color: #E4EFF7;
        line-height: 40px;
        border-bottom: #CCC 1px solid;
        border-right: #CCC 1px solid;
        width: 100%;
    }

        .child li a {
            color: #000000;
        }

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 8.65em;
}

    ul ul ul {
        left: 100%;
        top: 0;
        margin-left: 1px;
    }

li:hover {
    background-color: #95B4CA;
}

.parent li:hover {
    background-color: #F0F0F0;
}

.expand {
    font-size: 12px;
    float: right;
    margin-right: 5px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.content {
    flex: 1;
}

.footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-button {
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

    .footer-button:hover {
        background-color: #000;
        color: #fff;
    }

.social-icons {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

    .social-icons a {
        color: #000000;
        margin-right: 10px;
    }

