#logo {
    background-image: url(/images/logo.png);
    height: 90px;
    width: 90px;
    position: absolute;
    top:15px;
    left:50px;
    background-size: cover;
    background-position: center;
/*  border : solid 1px white;*/    
    border-radius:25px;
    z-index:102;
}
#logo-shadow {
    display:flex;
    height: 90px;
    width: 90px;
    position: absolute;
    top: 17px;
    left: 52px;
    background-color: hotpink;
    border-radius: 25px;
    z-index: 101;
}

#navbar {
    display:flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 100;
}

.parent {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    /*float: left;*/
    line-height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*border-right: #CCC 1px solid;*/
    /*border-radius: 5px 5px 0px 0px;*/
}

    .parent a {
        margin: 10px;
        color: white;
        background-color: transparent;
        text-decoration: wavy;
    }

    .parent:hover > ul {
        display: block;
        position: absolute;
    }

.child {
    display: none;
    background: rgba(255, 255, 255, 0.5);
}

    .child li {
        background-color: #E4EFF7;
        line-height: 40px;
        border-bottom: #CCC 1px solid;
        border-right: #CCC 1px solid;
        width: 100%;
    }

        .child li a {
            color: #000000;
        }

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 8.65em;
}

    ul ul ul {
        left: 100%;
        top: 0;
        margin-left: 1px;
    }

li:hover {
    background-color: #95B4CA;
}

.parent li:hover {
    background-color: #F0F0F0;
}

.expand {
    font-size: 12px;
    float: right;
    margin-right: 5px;
}


.social-icons {
    font-size: 35px;
}

    .social-icons a {
        color: #000000;
        margin-right: 10px
    }
