
/* CSS for table styling */
table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 20px;
}

th, td {
    padding: 8px;
    border: double;
}

th {
    background-color: #ABA9C3;
    text-align: center;
}

td {
    background-color: #CED3DC;
    text-align: left;
}

tr:hover {
    background-color: mediumpurple;
}
/* CSS for increasing table size */
body {
    font-size: 16px;
}

table {
    font-size: 18px;
}

th, td {
    padding: 12px;
}

#showCreateForm {
    margin-bottom: 20px;
}
table button {
    margin-right: 5px;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
