.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.floating-box {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px
    
}

.overlay {
    position: relative;
    background-color: #E4D9FF;
    padding: 10px;
    color: darkblue;
    font-size:14px;
}

.photo-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
   
}

    .photo-container img {
        align-items: center;
        float: left;
        padding: 5px;
    }

.intinerary-container {
    display: none;
    padding-top: 10px;
    color: #F1E4E8;
  
}

.show-intinerary .intinerary-container {
    display: block;

}
.toggle-day-icon {
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    font-size: 12px;
    margin-right: 5px;
}

.rotate {
    transform: rotate(180deg);
}