

.search-results-heading {
    text-align: center;
    font-family: 'Your Beautiful Font', sans-serif;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -10px; /* Add negative margin to create space between flex containers */
}

.flex-box {
    width: 40%;
    height: 60vh; /* Adjust the height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px; /* Add margin to create space around each flex container */
}

    .flex-box .text-box {
        flex: 1;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }


