#entete, #menu, #contenu, #footer {
    padding: 1px 0;
    background-color: wheat;
}

#entete {
    background-color: ghostwhite;
}

#main {
    margin: auto;
}

#menu {
    float: left;
    width: 240px;
    background-color: ghostwhite;
}

#contenu {
    margin-left: 245px;
    background-color: wheat;
    padding: 30px;

}

#footer {
    background-color: wheat;
    text-align: center;
    clear: both;
    font-family: Autography;
}

.titre {
    text-align: center;
}

.selectionne {
    color: red;
}
a.{
    text-decoration: none;
    color: midnightblue;
}
